/* Fondo con imagen */
.bg-container {
  background-image: url("../img/fondo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Card */
.login-card {
  width: 100%;
  max-width: 400px;
  background-color: white;
  border-radius: 1rem;
}

/* Logo */
.logo {
  height: 60px;
  object-fit: contain;
}

.alert {
  font-size: 0.95rem;
  border-left: 4px solid #dc3545;
  box-shadow: 0 0 10px rgba(220, 53, 69, 0.2);
}
